/*theme2*/
.figure_woocomerce .full-width{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  
}


.paginationc{
  height: auto;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  overflow:hidden;
  border: solid 1px #dedede;

}
.liens-pagination a,.liens-pagination span{
  color:#3e9cd5;
  text-decoration: none;
  margin:0 2px;
}
.liens-pagination a:hover{
  text-decoration: underline;
}
.liens-pagination{
  float:right;
}
.paginationc{
  vertical-align: middle;
}
.paginationc select{
  float:left;
  font-size: 16px;
  outline: none;
  border: none;
  width: 160px;
}
.liens-pagination .view{
  color:#424242;
}
.liens-pagination .actif{
  text-decoration: underline!important;
}
.produit-containeur{
  overflow: hidden;
}
.produit h3{
  color:#007ac7;
}
.produit{
  border: 1px #dedede solid;
  width: 230px;
  height: 330px;
  position: relative;
  text-align: center;
  margin-top:15px;
  margin-right: 12px;
  float:left;
  border-radius: 10px;
}
.produit p{
  text-align: center;
  color:#9a9a9a;
  margin-top:3px;
  margin-bottom:3px;
  font-size: 13px;
}
.btn-produit{
  border-top:1px solid #e1e1e1;
  bottom: 0;
  position: absolute;
  height: 36px;
  width: 100%;
  overflow: hidden;
}
.btn-produit-a,.btn-produit-b{
  border-right: 1px #e1e1e1 solid ;
  width: 49%;
  float:left;
  padding-top:7px;
  text-align: center;
  height: 29px;
}
.btn-produit-b{
  border-right: none!important;
}
.produit .btn-produit a{
  color:#0581c9;
  text-decoration: none;
  width: 60px;
  height: 36px;

  margin: 0 auto;
}
.produit .btn-produit a.buy{
  background: url(../template-parts/img/buy-btn.png) no-repeat;
  padding-left: 20px;

}
.pagination-footer{
  margin-top:15px;
}
.produit .containeur-vote{
  margin:0 auto;
  padding-left: 88px;
  position: absolute;
  bottom: 40px;
}
/**********************************************************************************/
.single-product h1{
  text-transform: uppercase;
  color:#2787c4;
  font-size: 54px;
  text-align: center;
}
.full-img-product{
  border:3px solid #979797;
  border-radius: 32px;
  text-align: center;
  width: 90%;
  margin:0 auto;
  padding:30px;
}
.single-product .product-description{
  color:#b0b0b0;
  font-size: 14px;
}
.btns-single-product .request-sample,
.btns-single-product .buy,
.btns-single-product .find-shop{
  color: #ffffff;
  border-radius: 20px;
  width: 180px;
  padding: 10px 20px;
  background-image: linear-gradient(-90deg, #2791ce 0%, #263878 100%);
  outline:none;
  cursor: pointer;
  text-decoration: none;
  margin:0 30px;
}
.btns-single-product .request-sample:hover,
.btns-single-product .buy:hover,
.btns-single-product .find-shop:hover{
  text-decoration: none;
}
.btns-single-product .request-sample{
  background-image: url(../template-parts/img/icon-btn-1.png) no-repeat;
}
.btns-single-product .buy{
  background-image: url(../template-parts/img/icon-btn-2.png) no-repeat;
}
.btns-single-product .find-shop{
  background-image: url(../template-parts/img/icon-btn-3.png) no-repeat;
}
.btns-single-product{
  width: 800px;
  margin: 0 auto;
  height: 30px;
  margin-top: 30px;
}
.product-details{
  margin:0 auto;
  width: 840px;
}
.product-detail{
  overflow: hidden;
  margin:15px 0;
  width: 840px;
}
.detail-product-img{
  border:2px #bbbbbb solid;
  float:right;
  border-radius: 10px;
  padding: 15px;
  width: 230px;
  text-align: center;
}
.single-product .product-description{
  /*width: 940px;*/
  width: auto;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px;
}
.product-detail .product-description{
  width: 480px;
  float:left;
  text-align: left;
}
.product-detail .detail-product-icon{
  position: relative;
  top: 15px;
  padding: 20px;
  padding-left:0;
  float:left;
}
.title-demo-product{
  margin:0 auto;
  color:#0070b9;
  border-bottom:2px #7db6da solid;
  line-height: 45px;
}
.demo-product{
  width: 840px;
  background: #fbfbfb;
  margin: 0 auto;
}
.demo-product h2{
  text-align: center;
  color: #0372ba;
}
.demo-product p{
  color:#8f8d8d;
}
.img-360{
  text-align: center;
}
.after-demo-product{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#263373+0,2697d3+100 */
  background: #263373; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #263373 0%, #2697d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #263373 0%,#2697d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #263373 0%,#2697d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263373', endColorstr='#2697d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 400px;
  color:#fff;
  position:relative;
}
.after-demo-product h2{
  font-weight: bold;
  position: absolute;
  right: 660px;
  top: 30px;
  font-size: 45px;
}
.after-demo-product .span-h2{
  font-size: 35px;
    position: absolute;
    right: 563px;
    top: 82px;
    font-weight: lighter;
    display: block;
}
.after-demo-product .description{
  font-size: 14px;
    width: 360px;
    display: block;
    position: absolute;
    left: 90px;
    top: 255px;
}
.carrousel-prev{
  background: url(../template-parts/img/feedback-prev.png) no-repeat;
  width: 13px;
  height: 21px;
  position: absolute;
  top: 100px;
  left: -20px;
}
.carrousel-next{
  background: url(../template-parts/img/feedback-next.png) no-repeat;
  width: 13px;
  height: 21px;
  position: absolute;
  top: 100px;
  right: -30px;
}
.form-request{
  background: #04a5dd;
  color:#fff;
}

/***************************************************************************/
.categories{
  width: 200px;
  float:left;
  color:#8b8b8b;
  border:1px solid #e0e0e0;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 15px;
  margin-left:20px;
}
.categories input{
  margin-left:20px;
}
.categories h4,.categories label{
  color:#8b8b8b;
}
.products-content{
  float:left;
  margin-bottom: 50px;
}
/*****************************************************************************/
.submit-btn{
  width:180px;
  margin:0 auto;
  border:none;
  background: #dbdbdb;
  border-radius: 20px;
  color:#007ecc;
}
.submit-btn:hover{
  background: #dbdbdb;
  color:#000;
}
.submit-conteneur{
  text-align: center;
}
.form-check-input{
  margin-left:0!important;
}
.form-group label{
  margin-left:20px;
}
.formulaire-sample-request{
  padding:30px;
  background:#04a5dd;
  float:left;
  color:#fff;
}
.form-request {
  border: 1px solid #b2b2b2;
  border-top: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  border-radius: 30px;
  background: #fff;
  color: #000;
  overflow: hidden;
  padding: 20px;
}
.form-request h2,.form-request h4{
  text-align: center;
}
.picture-product{
  float:right;
}
/***********************************************************************/
.img-medium-product{
  border:1px solid #a6a6a6;
  padding: 40px 15px;
  border-radius: 15px;
  width: 330px;
  float:left;
}
.product-detail-2{
  overflow: hidden;
}
.detail-product{
  overflow:hidden;
  float:left;
  width: 600px;
  margin-left:20px;
}
.detail-product h1{
  font-size: 35px;
  margin:0;
}
.detail-product .detail-product-icon{
  float:left;
}
.detail-product .detail-product-icon img{
  width: 80px !important;
}

.detail-product .details-product{
  margin:20px;
  overflow: hidden;

}
.detail-product .details-product .detail-product-icon span{
  display:block;
  color:#949494;
}
.product-detail-2 .detail-product-icon{
  text-align: center;
  width: 95px;
  margin:0 15px;
}
.product-detail-2 .detail-product-icon img{
  width: 80px !important;
}
.product-detail-2 .detail-product .product-description{
  color:#949494;
}
.product-detail-2 .detail-product h4{
  color:#949494;
  font-size: 21px;
  margin: 0;
}
.product-detail-2 .detail-product h1{
  color:#0d79be;
  font-size: 35px;
  margin: 0;
}
.product-detail-2 .form-control{
  width: 172px;
  margin-top: 50px;
  margin-left: 30px;
}
.clear{
  clear:both;
}
.icon-btn{
  position: relative;
  left: -6px;
  top: 1px;
}
.single-product .icon-btn{
  position: relative;
  left: -7px;
  top: 3px;
}
.demo-product-2{
  text-align: center;
}
.demo-product{
  color:#2787c5;
  text-align: center;
  margin:30px 0;
  width: 100%;
}
.product-detail-2{
  width: 1160px;
  margin: 0 auto;
}
.canbebe-3-box{
  position: absolute;
  top: 139px;
  right: 100px;
}
.logo-id{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 120px;
}
.btns-single-product a span{
	text-align: center;
	display: block;
	float: left;
	width: 141px;
}
.feedback{
  width: 800px;
  margin:0 auto;
  position: relative;
  margin-top:100px;
}
.feedback-content-body h4{
  color:#0060b2;
  text-transform: uppercase;
}
.feedback-content-body p{
  color:#b2b2b2;
}
.feedback-img{
  width: 230px;
  float:left;
}
.btns-single-product{
  width:800px;
}
.btns-single-product a{
  display: block;
  float:left;
}
.after-demo-product h2{
  position: absolute;
    top: 30px;
    left: 520px;
    display: block;
    width: 410px;
}
.after-demo-product span{
  position: absolute;
    top: 30px;
    left: 420px;
    display: block;
    width: 410px;
}
.after-demo-product{
  position:relative;
}
.feedback-content-body{
  width: 550px;
    float: left;
}
.feedback-content-body h4{
  margin:10px 0;
}
.formulaire-sample-request{
    width: 580px;
}


.remodal-overlay {
    background: rgba(255, 255, 255, 0.9) !important;
}
.remodal-wrapper {
    top: 30px !important;
    padding: 12px 10px 0 !important;
}
.remodal{
    padding: 10px 0 0 !important;
    border-radius: 20px !important;
}
.remodal .form-control {
    font-size: 1rem !important;
    border-radius: 5px !important;
    padding: 5px 0.4375em !important;
}
.remodal-close {
    top: 5px !important;
    right: 5px !important;
    left: auto !important;
}


/*** Responsives ***/

    @media (max-width: 1326px){

    }
    @media (max-width: 1300px){

    }

    /*@media (max-width: 1200px){

    }
*/
    @media (max-width: 1199px){
		.no-sidebar .entry-header, .no-sidebar .entry-content, .no-sidebar .entry-summary, .no-sidebar .entry-footer, .no-sidebar .comments-area, .no-sidebar .image-navigation, .no-sidebar .post-navigation, .no-sidebar .pagination, .no-sidebar .page-header, .no-sidebar .page-content, .no-sidebar .content-bottom-widgets {
			margin-right: 0!important;
			margin-left: 0!important;
		}
    }

    @media (max-width: 1024px){
		.no-sidebar .entry-header, .no-sidebar .entry-content, .no-sidebar .entry-summary, .no-sidebar .entry-footer, .no-sidebar .comments-area, .no-sidebar .image-navigation, .no-sidebar .post-navigation, .no-sidebar .pagination, .no-sidebar .page-header, .no-sidebar .page-content, .no-sidebar .content-bottom-widgets {
			margin-right: 20px!important;
			margin-left: 20px!important;
		}
		.img-medium-product{
			margin: 0 auto;
			float: none!important;
		}
		.detail-product{
			width:100%;
		}
		.btns-single-product {
			margin: 0 auto;
		}
		.product-detail-2{
			width:100%;
		}
		.btns-single-product{
			width:100%;
		}
		.feedback-carousel.owl-carousel .owl-item{
			width: 614px;
		}
		.feedback-carousel.owl-carousel {
			width: 614px;
		}
		.feedback-content-body {
			width: 370px;
		}
		p#breadcrumbs{
			margin-left:25px;
		}
		.product-detail-select {
			right: 70px;
			position: absolute;
		}
		.detail-product{
			margin:0;
			padding:0 20px;
		}
		.product-detail-2 .form-control {
			width: 172px;
			margin-top: 23px;
		}
		.demo-product p {
			text-align: left;
			padding:0 15px;
		}
		.single-product .product-description {
			padding:0 15px;
		}
		.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body{
			padding:0!important;
		}
		.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right.vc_tta-panel-title>a {
			padding-right:0!important;
		}
		.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title>a{
			padding: 14px 0!important;
		}
		.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon{
			right:0!important;
		}
		.woof_shortcode_output, .woocommerce .products {
			width: 100%;
		}
		.woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
			width: 45%;
		}
		.btn-produit-a, .btn-produit-b{
			width:50%;
		}
	}
    /*@media (max-width: 1000px){

    }*/

    @media (max-width: 959px){

    }
    
    /*@media (max-width: 910px){

    }*/

    @media (max-width: 768px){

    }

    @media (max-width: 676px){

    }


    @media (max-width: 600px){

    }

    @media (max-width: 425px){
		.product-detail-select {
			left: 34px!important;
			position: absolute;
		}
		.product-detail-2 .form-control{
			margin-top: 53px;
			margin-left: 0px;
		}
		.btns-single-product .request-sample, .btns-single-product .buy, .btns-single-product .find-shop{
			margin: 0 auto;
		}
		.btns-single-product a{
			float:none;
			height: 45px;
			margin-top:5px!important;
		}
		.feedback-carousel.owl-carousel{
			width:100%!important;
		}
		.feedback-content-body{
			width: 214px;
			margin-left: -30px;
		}
		.feedback-carousel.owl-carousel .owl-item .feedback-img img{
			margin:0;
		}
		.feedback-img {
			width: 190px;
		}
		.feedback-carousel.owl-carousel .owl-item .feedback-img:before{
			left: 110px;
		}
    }

    @media (max-width: 414px){
		.product-detail-select {
			left: 34px!important;
			position: absolute;
		}
		.produit p {
			line-height:14px;
		}
		.woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product{
			width: 50%;
		}
		.woocommerce ul.products li.product, .woocommerce-page ul.products li.product .produit {
			width: 100%!important;
			margin-right: 0!important;
		}
		.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
			margin: 0 0 0;
		}
		.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
			margin: 0 auto;
		}
    }

    @media (max-width: 375px){
		.produit p {
			line-height:14px;
		}
		.woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product{
			width: 50%;
		}
		.woocommerce ul.products li.product, .woocommerce-page ul.products li.product .produit {
			width: 100%!important;
			margin-right: 0!important;
		}
		.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
			margin: 0 0 0;
		}
		.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
			margin: 0 auto;
		}
		.product-detail-2 .form-control {
			margin-top: 53px;
		}
		.btns-single-product a{
			float:none;
			height: 45px;
			margin-top:5px!important;
		}
		.btns-single-product .request-sample, .btns-single-product .buy, .btns-single-product .find-shop{
			margin: 0 auto;
		}
		.product-detail-2 .form-control{
			margin-top: 54px;
		}
		.product-detail-select {
			left: 34px!important;
			position: absolute;
		}
    }

    @media (max-width: 320px){
		.produit p {
			line-height:14px;
		}
		.woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product{
			width: 50%;
		}
		.woocommerce ul.products li.product, .woocommerce-page ul.products li.product .produit {
			width: 100%!important;
			margin-right: 0!important;
		}
		.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
			margin: 0 0 0;
		}
		.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
			margin: 0 auto;
		}
		.product-detail-2 .form-control {
			margin-top: 53px;
		}
		.btns-single-product a{
			float:none;
			height: 45px;
			margin-top:5px!important;
		}
		.btns-single-product .request-sample, .btns-single-product .buy, .btns-single-product .find-shop{
			margin: 0 auto;
		}
		.feedback-carousel.owl-carousel .owl-item .feedback-img img{
			margin:0;
		}
		.feedback-img {
			width: 190px;
		}
		.feedback-carousel.owl-carousel .owl-item .feedback-img:before{
			left: 110px;
		}
		.feedback-content-body {
			width: 187px;
			margin-left: -49px;
		}
    }
/*** Responsives ***/
.single-product .icon-btn{
	width:20px!important;
}
.btns-single-product a span{
	
}
.button_allfaq{
	display:none!important;
}