/* general setting */
	.mr-sm-2::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	    color: var(--main-color)!important;
	    opacity: 1; /* Firefox */
	}
	.mr-sm-2:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: var(--main-color)!important;
	}
	.mr-sm-2::-ms-input-placeholder { /* Microsoft Edge */
	    color: var(--main-color)!important;
	}
	.mr-sm-2{
		padding-left: 8px!important;
		color:var(--main-color)!important;
		border: 1px solid var(--main-color)!important;
	}
/* general setting */

/* header */	
	.navbar{
		-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
		background:#fff;
	}
	.social-media ,.social-media a:hover,.social-media  a:visited,.social-media  a:link,.social-media  a:active{
		text-decoration: none;
		outline-style:none;
		outline: none;
	}
	a,a:hover,a:visited,a:link,a:active,a:focus{
		text-decoration: none;
		outline-style:none;
		outline: none!important;
	}
	.search-div{
		display:none;
	}
	.search-btn:focus{
	    outline: none;
	}
	.search-btn{
		background-position: center;
		height: 24px;
		width: 24px;
		background-color: transparent;
	    border: none;
	    margin: 4px;
	}
	.svg path{
		fill: var(--main-color);
	}
	.navbar a.nav-link{
		color:var(--main-color)!important;
		font-weight: bold;
		margin:0 15px;
	}
	.btn-search, .btn-search:active {
	    color: var(--main-color)!important;
		border:1px solid var(--main-color) !important;
		background-color:white!important;
		height: 31px!important;
		line-height: 19px;
	}
	.search-div .btn-search:hover,.search-div .btn-search:active {
		background-color: var(--main-color) !important;
		color:#fff!important;
	}
	.header{
		margin-top: -8px;
		margin:0;
	    height: 587px;
		background-repeat:no-repeat;
		background-position: center;
		background-size: cover;
	}
	.sub-header{
		height: 587px;
		background-repeat:no-repeat;
	    background-image: url(../images/wave.png);
		background-position: 0 70px;
	    width: 100%;
	    background-size: 100%;
	}
	img,.btn-theme,.btn-theme:hover,.btn-theme:active,.btn-theme:focus,a,a:hover,a:active,a:focus,a:hover img,a:active img,a:focus img{
		border:none;
		outline:none;
	}
	.btn-theme{
		cursor: pointer;
		border: 1px solid var(--main-color);
	    -webkit-border-top-left-radius: 30px;
	    -moz-border-radius-topleft: 30px;
	    border-top-left-radius: 30px;
	    text-align: center;
	    border: 1px solid var(--main-color);
	    -webkit-border-bottom-right-radius: 30px;
	    -moz-border-radius-bottomright: 30px;
	    border-bottom-right-radius: 30px;
	    height: 50px;
	    background: var(--main-color);
	    width: 200px;
	    border: none;
	    background-image: url(../images/btn-theme.png);
	    background-repeat: no-repeat;
	    background-position: right;
	    background-origin: content-box, content-box;
	    padding-right: 11px;
	    padding-top: 3px;
	    font-weight: 22px;
	    text-align: left;
	    color:white;
	    padding-left: 30px;
	    font-weight: bold;
	    outline:none;
	}
	.sub-header-content{
		top: 80px;
	    left: 490px;
	    position: relative;
	    max-width: 436px;
	}
	.site-title{
		font-family: 'Open Sans';
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color:#777777;
		margin-bottom: 0;
	}
	.site-description{
		font-family: 'Open Sans';
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color:#777777;
	}
/* header */

/* general content */
	.main{
		margin-top: 75px;
	}
	.content-box{
		    margin-bottom: 50px;
	}
	.content-box h2{
		color:var(--main-color);
		font-size:30px;
		font-family:"Open Sans";
	}
	.content-box p{
		color:#777777;
		font-size:16px;
		line-height:22px;
	}
	.content-box-left{
		border:1px solid var(--main-color);
		-webkit-border-top-left-radius: 50px;
		-moz-border-radius-topleft: 50px;
		border-top-left-radius: 50px;
		text-align:center;
		padding:40px;
	}
	.content-box-right{
		border:1px solid var(--main-color);
		-webkit-border-bottom-right-radius: 50px;
		-moz-border-radius-bottomright: 50px;
		border-bottom-right-radius: 50px;
		padding:40px;
	}
	.bg-cl-site{
		background-color:var(--main-color);
	}
/* general content */

/*ontex_slider_home_page*/
	.carousel-control-prev{
		z-index:99999;
	}
	.carousel-control-next{
		z-index:99999;
	}
	.carousel-content-buttons{
		height: 70px;
	    float: right;
	}
	.box-bottom-radious-right{
		height: 70px;
		padding: 40px;
		border: 1px solid var(--main-color);
	}
	.bg-cl-site .carousel-caption {
	    position: relative;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 10;
	    /* padding-top: 20px; */
	    /* padding-bottom: 20px; */
	    color: #fff;
	    text-align: left;
	}
	.img-carrousel{
	    width: 80%;
	    align-content: center;
	}
	.bg-cl-site .carousel-control-prev{
	    right: 50px;
	    top: 10px;
	    left: auto;
	}
	.bg-cl-site .carousel-control-next{
		right: 10px;
	    top: 10px;
	}
	.top-box{
		height: 70px;
	}
	.carousel-item{
		text-align: center;
	}
	.carousel-caption{
	    padding: 0px 40px;
		
	}
	.social-media{
		text-align:center;
	}
	.social-media a{
		margin:15px;
	}
	.caption-social-media{
		text-align:center;
		color:var(--main-color);
		font-style:bold;
		font-size:20px;
		margin: 30px 0;
	}
/*ontex_slider_home_page*/

/* footer */

/* footer */

/* ontex_last_post */
	.image-box{
		margin:0 auto;
	}
	.box-text-content{
		padding: 20px;
	}
	.box-text-content h2{
		color:#FFFFFF;
		font-weight:bold;
		font-size:20px;
	}
	.box-text-content p{
		color:#FFFFFF;
		font-size:16px;
	}
	.btn-go{
		cursor: pointer;
		background-image:url(../images/btn-go.png);
		background-repeat:no-repeat;
		height:42px;
		width:42px;
		display:block; 
		position:absolute;
	    bottom: 30px;
	    right: 30px;
	}
	.btn-go,.btn-go:hover,.btn-go:active,.btn-go:focus,
	.btn-play,.btn-play:hover,.btn-play:active,.btn-play:focus,{
		border:none;
		outline:none;
	} 
	.btn-play{
		cursor: pointer;
		background-image:url(../images/btn-play.png);
		background-repeat:no-repeat;
		height:86px;
		width:86px;
		display:block;
		position:absolute;
	    bottom: 30px;
	    right: 30px;
	}
	.btn-go:hover,.btn-go:active,.btn-go:focus{
		border:none;
		outline:none;
	}
	.site-main .row {
	    margin-right: 10px !important;
	    margin-left: 10px !important;
	}
	.content-box .row {
	    margin-right: -5px !important;
	    margin-left: -5px !important;
	}
/* ontex_last_post */

/* ontex_slider_home_page */
	.content-carrousel{
		padding-top: 30px;
	}
	.content-carrousel h5{
		color:white;
	}
	.content-carrousel p{
		color:white;
	}
/* ontex_slider_home_page */

/* ontex_block_image_text */
	.news-box-full-width{
	    margin:0 auto;
	    width: 300px;
	}
	.news .footer{
		background: var(--main-color);
		-webkit-border-bottom-right-radius: 30px;
	    -moz-border-radius-bottomright: 30px;
	    border-bottom-right-radius: 30px;
	    width: 300px;
	    height: 50px;
	    /*background-image: url(../images/btn-theme.png);
	    background-repeat: no-repeat;
	    background-position: right;
	    background-origin: content-box, content-box;*/
	    padding-right: 11px;
	    padding-top: 3px;
	    font-weight: 22px;
	    text-align: left;
	    color:white;
	    padding-left: 30px;
	    line-height: 40px;
	}
	.seperateur{
		height: 50px;
	}
	.news .footer a{
		outline: 0;
		text-decoration: none;
		color:white;
	}
	.news .footer img.footer_img_right {
	    float: right;
	    margin-top: 7px;
	}
/* ontex_block_image_text */

/* ontex_box_full_width */
	.box-full-width{
		-webkit-border-top-left-radius: 30px;
	    -moz-border-radius-topleft: 30px;
	    border-top-left-radius: 30px;
	    text-align: center;
	    -webkit-border-bottom-right-radius: 30px;
	    -moz-border-radius-bottomright: 30px;
	    border-bottom-right-radius: 30px;
	    height: 443px;
	    width: 967px;
	    margin:0 auto;
	}
	.box-full-width .content{
		position:relative;
	    margin-top: 155px;
	}
	.box-full-width .content h2{
		color:white;
	}
	.box-full-width .content p{
		color:white;
	}
	.box-full-width .content a.btn-play{
	    position: absolute;
	    top: 50%;
	    margin-top: -40px;
	    margin-right: 100px;
	}
/* ontex_box_full_width */

/* blog */
	.row_blog{
		border: 1px solid var(--main-color);
	    border-radius: 5px;
	    margin-bottom: 50px;
	    margin-right: 0 !important;
    	margin-left: 0 !important;
    	min-height: 330px;
    	padding: 10px 0;
	}
	.row_blog .right_side{
	    padding: 15px;
	}
	.row_blog .right_side a:hover {
	    text-decoration: none;
	}
	.row_blog span {
	    margin-right: 10px;
	}
	.row_blog a {
	    text-decoration: none;
	}
/* blog */

/* import ontex local intranet css */
	@import url("custom.css");
/* import ontex local intranet css */

/** responsive **/
	@media (max-width: 2560px){
		.header {
		    height: 490px;
		}
		.sub-header {
		    height: 755px;
		}
	}
	@media (max-width: 1440px){
		.header {
		    height: 400px;
		}
		.sub-header {
		    height: 440px;
		}
	}
	@media (max-width: 1350px) {
		/*.header {
		    height: 550px;
		}
		.sub-header {
		    height: 555px;
		}*/
	}

	@media (max-width: 1200px){
		.header {
		    height: 300px;
		}
		.sub-header {
		    height: 340px;
		}
	}
	@media only screen and (max-width: 900px) {
	    .sub-header-content {
		    top: 80px;
		    left: 280px;
		    position: relative;
		    max-width: 450px;
		}
		.navbar a.nav-link {
		    font-weight: bold;
		    margin: 0 15px;
		    padding:0!important;
		}
		.navbar-collapse .navbar-nav li{
			text-align: center;
			margin: 5px 15px;
		}
		.sub-header-content{
			left: 160px;
		}
	}
	@media (max-width: 768px){
		.header {
		    height: 210px;
		}
		.sub-header {
		    height: 250px;
		    background-position: 10px 40px;
		}
		.navbar a.nav-link {
		    margin: 0 5px;
		}
	}
	@media (max-width: 425px){
		.sub-header {
		    height: 250px;
		    background-position: 10px 110px;
		}
		.main {
		    margin-top: 0;
		}
		.site-main .row {
		    margin-right: 10px !important;
		    margin-left: 10px !important;
		}
		.content-box .row {
		    margin-right: -5px !important;
		    margin-left: -5px !important;
		}
		.news.news1 .content img{
			width: 100%;
		}
		.news .footer {
		    width: auto;
		}
	}
	@media (max-width: 375px){

	}
	@media (max-width: 320px){

	}
/** responsive **/

/** POST MODELS**/
	.vc_row {
	    margin-bottom: 30px!important;
	}
    .model1 {
        height: 300px;
        position: relative;
    }

    .model1 .latest_post {
        position: absolute;
        right: 0;
        width: 50%;
        /*padding: 5px 15px;*/
        padding: 15px;
        /*background: #01a1df;*/
        background: var(--main-color);
        box-sizing: border-box;
        height: 100%;
    }

    .model1 .outils {
        width: 100%;
        position: absolute;
        bottom: 0;
        color:white;
        margin: 0;
        left: 0;
    }
    .model1 .outils a{
          color:white;
    }
    .model1 .outils a:after,.model1 .outils i:before {
       color:white!important;
    }

    .model1 .ontex_title,.model1 .ontex_title a {
        color: white;
        line-height: 22px;
    }

    .model1 span.post_infos a,.model1 span.post_infos span {
        color: white;
    }

    .model1 .post_infos span, .model2 .post_infos span, .model3 .post_infos span, .model4 .post_infos span {
        display: inline-block;
    }
    .model1 .post_infos, .model3 .post_infos {
        color: #ffffff;
    }
    .model2 .post_infos, .model4 .post_infos {
        color: #000000;
    }
    /*.model1 span.date, .model2 span.date, .model3 span.date, .model4 span.date{
        margin: 0 !important;
    }*/

	.post_info_item.category a{
	    font-size: 15px;
	    color: #fff;
	    text-transform: uppercase;
	}
	.post_info_item.category{
	    position: absolute;
	    left: 0;
	    top: 0;
	    background: #7b2582;
	    padding: 5px 10px;
	    z-index: 2;
	    margin-right: 15px;
	}

	.post_info_item.author a{
	    color: #fff;
	}
	.blog_slider_simple_info .post_info_item:not(:first-child):before{
	    content: '-';
	}

    .model2 {
        height: 300px;
        position: relative;
    }
    .model2 {
        position: relative;
    }

    .model2 .outils {
        bottom: 0!important;
        position: absolute;
        padding: 0;
    }

    .model2 span.date {
        margin: 0!important;
        line-height: 10px;
    }
    .model2 .latest_post {
        position: absolute;
        bottom: 0;
        width: 100%;
        /*padding: 5px 15px;*/
        padding: 15px;
        background: rgba(255, 255, 255, 0.75);
        box-sizing: border-box;
        height: 50%;
    }
    .model3 {
        height: 300px;
        position: relative;
    }

    .model3 .latest_post {
        position: absolute;
        bottom: 0;
        width: 100%;
        /*padding: 5px 15px;*/
        padding: 15px;
        background: rgba(1, 161, 223, 0.75);
        box-sizing: border-box;
        padding-bottom: 30px;
        height: 50%;
    }

    .model3 .outils {
        position: absolute;
        bottom: 0;
        color:white;
    }
    .model3 .outils a{
          color:white;
    }
    .model3 .outils a:after,.model3 .outils i:before {
       color:white!important;
    }

    .model3 .ontex_title,.model3 .ontex_title a {
        color: white;
    }

    .model3 span.post_infos a,.model3 span.post_infos span {
        color: white;
    }

    .model4 {
        height: 300px;
        position: relative;
    }

    .model4 .latest_post {
        position: absolute;
        right: 0;
        width: 50%;
        /*padding: 5px 15px;*/
        padding: 15px;
        background: white;
        box-sizing: border-box;
        height: 100%;
    }
    .model1 .latest_post .outils,.model4 .latest_post .outils{
        position:absolute;
        bottom:0;
        left: 0;
        margin: 0;
        padding: 0 15px;
        width: 100%;
    }
    .model1,.model2,.model3,.model4{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .model1 .outils a.liked:after{
        color: #F31E07 !important;
    }
    @media (max-width: 767px){
        .vc_col-sm-6 .model2 .latest_post, .vc_col-sm-6 .model3 .latest_post {
            padding: 15px;
        }
        .vc_col-sm-6 .latest_post h2 a {
            font-size: 20px;
        }
        .model2, .model3{
            margin-bottom: -10% !important;
        }
        .vc_col-sm-6 .model1, .vc_col-sm-6 .model4 {
            margin-bottom: 30px!important;
        }
    }
/** POST MODELS**/

/* customize models */

    .vc_col-sm-6 .model2 .latest_post, .vc_col-sm-6 .model3 .latest_post {
        padding: 0px 15px 15px 10px;
    }
    .vc_col-sm-6 .latest_post h2 a {
        font-size: 14px;
    }
    .vc_col-sm-6 .model3 .latest_post span.date {
        margin: 0;
    }
    .vc_col-sm-6 .model3 .latest_post .outils {
        padding: 0;
    }
    .vc_col-sm-12 .model2{
        height: 358.5px !important;
    }
    .model2 .latest_post, .model3 .latest_post{
        /*bottom: 20%;*/
        height: 30%;
    }
    /*.model2, .model3{*/
    .model3{
        margin-bottom: -20% !important;
    }
    .vc_col-sm-6 .model1 .ontex_title {
	    margin-top: 10px;
	}
    .vc_col-sm-6 .model1 .ontex_title,.vc_col-sm-6 .model1 .ontex_title a, .vc_col-sm-6 .model4 .ontex_title,.vc_col-sm-6 .model4 .ontex_title a  {
		line-height: 20px;
	    font-size: 18px;
    }
    .vc_col-sm-6 .model4 .ontex_title {
        line-height: 9px;
        font-size: 22px;
    }
    .vc_col-sm-6 .post_info_item.category{
        padding: 0px 6px;
    }
    .vc_col-sm-6 .model1 span.date, .vc_col-sm-6 .model4 span.date {
        margin: 5px 0 0 0;
    }
    .vc_col-sm-6 .model1 .latest_post_text_inner, .vc_col-sm-6 .model4 .latest_post_text_inner {
        line-height: 15px;
    }
    .vc_col-sm-6 .model1 .latest_post, .vc_col-sm-6 .model4 .latest_post{
        padding: 5px 25px;
    }
    .vc_col-sm-6 .post_info_item.category a {
        font-size: 11px;
    }
    .vc_col-sm-12 .model1, .vc_col-sm-12 .model4{
        height: 250px !important;
    }
    .vc_col-sm-6 .model2, .vc_col-sm-6 .model3{
        height: 171.5px;
    }
    .vc_col-sm-6 .model2 .latest_post, .vc_col-sm-6  .model3 .latest_post {
        height: 32%;
    }
    .vc_col-sm-6 .model2 .post_infos, .vc_col-sm-6 .model3 .post_infos{
        line-height: 35px;
        font-size: 13px;
    }
    .vc_col-sm-6 .model2 .latest_post_inner .post_infos a, .vc_col-sm-6 .model3 .latest_post_inner .post_infos a{
        line-height: 20px;
    }
    .vc_col-sm-6 .model2 h2.latest_post_title.ontex_title, .vc_col-sm-6 .model3 h2.latest_post_title.ontex_title{
        line-height: 15px !important;
    }
/* customize models */

/* like emojins */
    .list-emoji{
        position: absolute;
        top: -34px;
        right: auto;
        width: 127px;
        height: 23px;
        padding: 3px;
        color: #000000;
        background-color: #ffffff;
        border: 1px solid #b5b7b7;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0px #b5b5b5;
        transition: all 1.3s ease-out;
    }

    .list-emoji span{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px;
        width: 20px;
        height: 23px;
        cursor: pointer;
        margin: 0px 3px;
        padding: 3px 0px 1px 25px;
        display: inline;
    }
    .list-emoji span:hover{
        box-shadow: 0px 0px 5px 0px #b5b5b5;
        border-radius: 20px;
        transition: all 0.3s;
        background-size: 21px;
    }
    .span-liked{
        box-shadow: 0px 0px 5px 0px #b5b5b5;
        border-radius: 20px;
        background-size: 21px;
    }
    .icon-1{
        background-image: url(img/emoji/1.png);
    }
    .icon-2{
        background-image: url(img/emoji/4.png);
    }
    .icon-3{
        background-image: url(img/emoji/6.png);
    }
    .icon-4{
        background-image: url(img/emoji/14.png);
    }
    .blog_like {
        position: relative;
        margin: 0 10px 0 2px !important;
        padding-left: 0 !important;
    }
    .model1 .outils a.liked:after{
        color: #F31E07 !important;
    }
    .span-like-text{
        display: none !important;
    }
    .qode-like.qode-like-emoji:after {
        cursor: pointer;
        margin: -2px 0px 0px 0px;
        display: inline-block;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 15px;
        content: "";
        background-position: center center;
    }

    .qode-like.qode-like-emoji.qode-like-emoji-like:after {
        background-image: url(/wp-content/themes/bridge-child/img/emoji/1.png);
    }
    .qode-like.qode-like-emoji.qode-like-emoji-love:after {
        background-image: url(/wp-content/themes/bridge-child/img/emoji/4.png);
    }
    .qode-like.qode-like-emoji.qode-like-emoji-haha:after {
        background-image: url(/wp-content/themes/bridge-child/img/emoji/6.png);
    }
    .qode-like.qode-like-emoji.qode-like-emoji-sad:after {
        background-image: url(/wp-content/themes/bridge-child/img/emoji/14.png);
    }

    .blog_slides .qode-like.liked:after {
        color: #F31E07;
    }
/* like emojins */

/* Ontex price : stock module */
	.boxing {
	    padding: 20px;
	}
	.boxing .vc_column-inner{
	    border-radius: 5px;
	}
	.boxing .stakeholder-link{
		color: white;
		text-decoration: none;
	}
	.stock-value {
	    font-size: 52px;
	    line-height: 1;
	    font-weight: 300;
	    color: #253272;
	    letter-spacing: -1px;
	    margin-bottom: 14px;
	}

	.stock-date {
	    font-size: 16px;
	    line-height: 21px;
	    font-weight: 600;
	    color: white;
	    margin-bottom: 19px;
	}

	.stock-content {
	    text-align: center;
	}
/* Ontex price : stock module */